CA PKCS7 display does not seem to be properly formatted

This issue was migrated from [Pagure Issue #1699](https://pagure.io/dogtagpki/issue/1699). Originally filed by **[bja](https://pagure.io/user/bja) (@sirwalrus)** on *2015-11-18 20:35:18*:

- Closed as Fixed
- Assigned to [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale)
- Associated bugzillas
  - https://bugzilla.redhat.com/show_bug.cgi?id=1313839
  - https://bugzilla.redhat.com/show_bug.cgi?id=1308852

---

When displaying a certificate in the Dogtag CA gui, one of the certificates is displayed in 'Base 64 encoded certificate with CA certificate chain in pkcs7 format'
https://<ca>:8443/ca/ee/ca/displayBySerial?op=displayBySerial&serialNumber=<sn>

When trying to use this pkcs7 data, I copied it to a text file and pointed an application to it (FreeIPA).  The FreeIPA installed complained that it could not load this pkcs7 file.

I then tried to inspect it with openssl:

openssl pkcs7 -in ipa.p7 -print_certs

OpenSSL complained:
unable to load PKCS7 object
140513062148000:error:0906D06C:PEM routines:PEM_read_bio:no start line:pem_lib.c:703:Expecting: PKCS7

I then constructed a new pkcs7 file with openssl:

openssl crl2pkcs7 -nocrl -certfile root.crt -certfile int.crt -certfile ca.crt -out ipa.p7

This cert works in both OpenSSL and IPA.

Then I changed the Dogtag PKCS7 cert header and footer from:

```
-----BEGIN CERTIFICATE CHAIN-----
-----END CERTIFICATE CHAIN-----
```

to:

```
-----BEGIN PKCS7-----
-----END PKCS7-----
```

Once I did this, the PKCS7 file appears to load correctly in OpenSSL.  Maybe it is a simple matter of changing the header and footer text on the Dogtag pkcs7 display?

**Comment from [bja](https://pagure.io/user/bja) (@sirwalrus) at [2015-11-19 21:11:38](https://pagure.io/dogtagpki/issue/1699)**

Apparently trac doesn't do well with the header/footer statements and considers them formatting.


Dogtag header/footer:
"-----BEGIN CERTIFICATE CHAIN-----"
"-----END CERTIFICATE CHAIN-----"

needs to be changed to what OpenSSL/IdM use:
"-----BEGIN PKCS7-----"
"-----END PKCS7-----"


**Comment from [nkinder](https://pagure.io/user/nkinder) (@nkinder) at [2015-11-20 21:01:32](https://pagure.io/dogtagpki/issue/1699)**

It appears that the "* CERTIFICATE CHAIN" header/footer format is non-standard, as mentioned in appendix A of https://tools.ietf.org/html/rfc7468.  Section 8 of this RFC also states the following:

   The label "CERTIFICATE CHAIN" has been in use to denote a degenerate
   PKCS 7 structure that contains only a list of certificates (see
   Section 9 of [RFC2315]).  Several modern tools do not support this
   label.  Generators MUST NOT generate the "CERTIFICATE CHAIN" label.
   Parsers SHOULD NOT treat "CERTIFICATE CHAIN" as equivalent to
   "PKCS7".

It seems to me that we should not be using the "CERTIFICATE CHAIN" labels, and should instead be outputting with the standard "PKCS7" labels.


**Comment from [mgrigull](https://pagure.io/user/mgrigull) at [2015-11-23 03:10:46](https://pagure.io/dogtagpki/issue/1699)**

I can confirm using openssl it expects the PKCS7 header and using keytool for managing java keystore BEGIN CERTIFICATE CHAIN is required instead.

Both options probably need to be supported, and both available for scripted collection.


**Comment from [mharmsen](https://pagure.io/user/mharmsen) (@mharmsen) at [2015-11-23 21:24:05](https://pagure.io/dogtagpki/issue/1699)**

Per CS/DS Meeting of 11/23/2015:  10.3 - major


**Comment from [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale) at [2016-01-13 09:38:18](https://pagure.io/dogtagpki/issue/1699)**

attachment
[pki-frasertweedale-0070-Use-correct-textual-encoding-for-PKCS-7-objects.patch](https://raw.githubusercontent.com/wiki/dogtagpki/pki/issues/b718fac9e6eae44df5f235041621cc34ed714b6cafa830b26b2b0e7cbeef340b-pki-frasertweedale-0070-Use-correct-textual-encoding-for-PKCS-7-objects.patch)

**Comment from [mharmsen](https://pagure.io/user/mharmsen) (@mharmsen) at [2016-02-09 20:27:54](https://pagure.io/dogtagpki/issue/1699)**

Per conversations with frasertweedale, trivial fix.


**Comment from [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale) at [2016-02-15 06:35:54](https://pagure.io/dogtagpki/issue/1699)**

Pushed to master (f6177fede9d1b688f0519953ec14839d513a6e2c)


**Comment from [mharmsen](https://pagure.io/user/mharmsen) (@mharmsen) at [2016-03-18 20:38:48](https://pagure.io/dogtagpki/issue/1699)**

Checked into 'DOGTAG_10_2_5_RHEL_BRANCH':

- cc65e92d87761bf28423718300e8ea53b30b63ba




**Comment from [mharmsen](https://pagure.io/user/mharmsen) (@mharmsen) at [2016-03-19 02:40:06](https://pagure.io/dogtagpki/issue/1699)**

Checked into 'DOGTAG_10_2_RHEL_BRANCH':

- 5f606f8ca1ff65f7666964603774df3be67ddc04


**Comment from [bja](https://pagure.io/user/bja) (@sirwalrus) at [2017-02-27 14:06:01](https://pagure.io/dogtagpki/issue/1699)**

**Metadata Update from @sirwalrus**:
- Issue assigned to frasertweedale
- Issue set to the milestone: 10.3.0.a2