CRL does not include Authority Key Identifier extension

This issue was migrated from [Pagure Issue #1189](https://pagure.io/dogtagpki/issue/1189). Originally filed by **[ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale)** on *2014-10-23 07:24:40*:

- Closed as Fixed
- Assigned to [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale)

---

RFC 5280 section 5.2 (http://tools.ietf.org/html/rfc5280#section-5.2) states:

   Conforming CRL issuers are REQUIRED to include the authority key
   identifier (Section 5.2.1) and the CRL number (Section 5.2.3)
   extensions in all CRLs issued.

CRLs issued by Dogtag do not include the authority key identifier.

**Comment from [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale) at [2014-10-30 07:56:16](https://pagure.io/dogtagpki/issue/1189)**

CRL extensions are controlled by CRL settings in CS.cfg.  As
an initial resolution, we could just enable the Authority Key Identifier
extension by default.

Since Authority Key Identifier and CRL Number extensions are REQUIRED, should we remove
the ability to disable them at all?  If so, this can be done in a separate
commit.


**Comment from [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale) at [2014-10-30 08:44:02](https://pagure.io/dogtagpki/issue/1189)**

attachment
[pki-frasertweedale-0017-Enable-Authority-Key-Identifier-CRL-extension-by-def.patch](https://raw.githubusercontent.com/wiki/dogtagpki/pki/issues/2e3b7d7cb5d69956770a989948c62ff885985130b6e46edb77309d048592e17e-pki-frasertweedale-0017-Enable-Authority-Key-Identifier-CRL-extension-by-def.patch)

**Comment from [mharmsen](https://pagure.io/user/mharmsen) (@mharmsen) at [2014-10-30 18:25:38](https://pagure.io/dogtagpki/issue/1189)**

Per discussions with frasertweedale and cfu: proposed Milestone - 10.2.2


**Comment from [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale) at [2014-12-17 05:49:31](https://pagure.io/dogtagpki/issue/1189)**

attachment
[pki-frasertweedale-0017-2-Enable-Authority-Key-Identifier-CRL-extension-by-def.patch](https://raw.githubusercontent.com/wiki/dogtagpki/pki/issues/196322b2bff57b06ddfe5b255237e86fdaa0bf3d9ac5c6d95d5f0ebdd44fd866-pki-frasertweedale-0017-2-Enable-Authority-Key-Identifier-CRL-extension-by-def.patch)

**Comment from [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale) at [2015-01-08 06:32:11](https://pagure.io/dogtagpki/issue/1189)**

pushed to master (9e8c5189ab6cce6ded77316439b9fee92e27487c)


New ticket 1236 created for upgrade script to enable extension on
existing instances.


**Comment from [mharmsen](https://pagure.io/user/mharmsen) (@mharmsen) at [2015-01-08 21:14:56](https://pagure.io/dogtagpki/issue/1189)**

Cherry-picked from master to the following branches:

- DOGTAG_10_2_0_BRANCH (dde78ac4909fe251007847a610eb4ad29f70f839)
- DOGTAG_10_2_RHEL_BRANCH (1374cb75bec4c8a9ebadc32f62c35a063944d1de)




**Comment from [ftweedal](https://pagure.io/user/ftweedal) (@frasertweedale) at [2017-02-27 13:59:55](https://pagure.io/dogtagpki/issue/1189)**

**Metadata Update from @frasertweedale**:
- Issue assigned to frasertweedale
- Issue set to the milestone: 10.2.2